.cta {
  border-radius: 12px;
background: #68bbe0;
  border-radius: 16px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color:#ffffff;
  transition: background 0.3s ease;
}

.cta:hover {
  background-color: #6b5413;
  color: #ffffff;
}

/* Tamanhos */
.small {
  font-size: 12px;
  padding: 4px 8px;
}

.medium {
  font-size: 30px; /* Reduzido de 36px para 30px */
  padding: 12px 24px; /* Ajuste no padding para melhor proporção */
}

.large {
  font-size: 36px;
  padding: 24px;
} 

